<!--tidy -im <file.html>-->
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="15;URL=/" >
  <meta name="generator" content=
  "HTML Tidy for HTML5 for Linux version 5.7.16">
  <title></title>
</head>
<body>
  <table border="1">
    <tr>
      <td colspan="3">{{STATUS}}</td>
    </tr>
    <tr>
      <td></td>
      <td>
        <a href="?cmd=VP">V+</a>
      </td>
      <td>
        <a href="?cmd=MUTE">MUTE</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="?cmd=CHM">CH-</a>
      </td>
      <td>
        <a href="?cmd=PUB">PUB</a>
      </td>
      <td>
        <a href="?cmd=CHP">CH+</a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <a href="?cmd=VM">V-</a>
      </td>
      <td>
        <a href="?cmd=TV">TV</a>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <form  method="get">
          <input type="submit" value="Vai al canale:"><input type=
          "text" name="setchan">
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <a href="/wifi">WiFi setup</a>
      </td>
    </tr>
  </table>
</body>
</html>
